<fd-shellbar>
  <fd-shellbar-logo>
    <a
      href="#"
      class="fd-shellbar__logo fd-shellbar__logo--image-replaced"
      aria-label="SAP"
    ></a>
  </fd-shellbar-logo>
  <fd-product-menu
    [control]="selectedCustomerName()"
    [closePopoverOnSelect]="true"
    [items]="productMenuItems"
  >
  </fd-product-menu>
</fd-shellbar>

<fd-layout-grid>
  <div fdLayoutGridRow>
    <div [fdLayoutGridCol]="4">
      <abs-contact-info></abs-contact-info>
    </div>
    <div [fdLayoutGridCol]="8">
    </div>
  </div>
</fd-layout-grid>
